body {

    margin: 0;
    padding-top: 700px;

}

.profile {

    height: 200px;
    width: 200px;
    margin-top: 60px;
    border-radius: 40%;

}

#welcome {
    
    font-family: 'Oswald', sans-serif;
    font-size: 40px;
    font-weight: 300;
    position: absolute;
    overflow: hidden;
    height: 500px;
    color: #FFFFFF;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0.83;
    background: linear-gradient(blue 25%, purple 75%);
    display: table;
    width: 100%;
    z-index: 9;
    
}

#line {
    
    background-color: black;
    height: 5px;
    width: 350px;
    
}

.menu {
    
    text-align: center;
    list-style: none;
    font-family: 'Oswald', sans-serif;
    position: fixed;
    margin-top: 0;
    right: 200px;
    top: 0;
    left: 0;
    z-index: 10;
    cursor: pointer;
    background-color: black;
    width: 100%;
    
}

.link {
    
    text-align: center;
    display: inline;
    padding-top: 5px;
    padding-left: 9px;
    padding-right: 9px;
    padding-bottom: 5px;
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
    
}

a {
    color: orange;
    text-decoration: none;
}
    
html { scroll-behavior: smooth; }

.link:hover {
    
    font-size: 35px;
    
}

img:hover {
    
    transform: scale(0.9);
    
}

.contact h3 {
    
    display: inline;
    color: black;
    
}

.contact h3:hover {
    
    color: blue;
    
}

i {
    
    color: black;
    
}